        </div> <!-- .container-->

        <div class="ui inverted vertical footer segment">
            <div class="ui center aligned container">
                <div class="ui horizontal inverted divided link list">
                    <a class="item" href="mailto:dissaivent@gmail.com"><i id="footer-icon" class="mail icon"></i></a>
                    <a class="item" href="http://github.com/DezChuang"><i id="footer-icon" class="github icon"></i></a>
                    <a class="item" href="http://www.linkedin.com/in/dezchuang/"><i id="footer-icon" class="linkedin square icon"></i></a>
                </div>
                <h3 id="footer" class="ui inverted center header">Copyright &copy; 2017 Dez.tw</h3>
                <h3 id="footer" class="ui inverted center header">Powered by <a id="footer">Dez Chuang</a></h3>
            </div>
        </div>

        <!-- jQuery CDN -->
        <script
                src="https://code.jquery.com/jquery-3.1.1.min.js"
                integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
                crossorigin="anonymous">
        </script>

        <!-- Bootstrap JS CDN -->
        <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous">
        </script>

    </body>
</html>