<% include partials/header %>

    <header class="jumbotron">
        <div class="container">
            <h1><a id="header" href="/posts">Header</a></h1>
            <p>Subtitle</p>
        </div>
    </header>

    <div class="row text-center" style="display: flex; flex-wrap: wrap;">
        <h1>About</h1>
    </div>

    <div class="fluid ui piled segment">
        <div class="ui segment">
          <h1 id="about" class="ui header">Intro.</h1>
          <p>Hi, I'm Dez. Welcome to my blog. I'm self-learning web development and wanna strengthen my skills by sharing what I learned.</p></br>
          <p>Now seeking for the job opportunities to work as a <strong>Frontend Engineer</strong> for a vibrant organization where I can strengthen my expertise and grow to become a F2E with UI/UX skills.</p></br>
          <p>Visit my <a href="http://www.linkedin.com/in/dezchuang/"><u>LinkedIn</u></a> and <a href="http://github.com/DezChuang"><u>Github</u></a> if you want to know more.</p></br>
          <p>嗨，我是Dez，目前正在自學網頁開發相關技術，目標是成為能促進使用者體驗的前端工程師，此部落格想藉著分享所學的技術，讓自己能夠真正地從入門到理解。</p>
        </div>

      <div class="ui segment">
          <h1 id="about" class="ui header">Contact me</h1>
          <a href="mailto:dissaivent@gmail.com"><i id="contact-icon" class="mail icon"></i></a>
          <a href="http://github.com/DezChuang"><i id="contact-icon" class="github icon"></i></a>
          <a href="http://www.linkedin.com/in/dezchuang/"><i id="contact-icon" class="linkedin square icon"></i></a>
      </div>
    </div>



<% include partials/footer %>