<% include partials/header %>

    <div class="row text-center" style="display: flex; flex-wrap: wrap;">
        <h1>About</h1>
    </div>

    <div class="ui piled segment">
        <div class="ui segment">
          <h1 class="ui header">Intro.</h1>
          <p>Hi, I'm Dez. Welcome to my blog. Now I'm self-learning web development and wanna strengthen my skills by sharing what I learned. My goal is to become a F2E with UI/UX skills.</p></br>
          <p>Now seeking for the job opportunities to work as a Frontend Engineer for a vibrant organization where I can strengthen my expertise and grow.</p></br>
          <p>Visit my <a href="http://www.linkedin.com/in/dezchuang/"><u>LinkedIn</u></a> and <a href="http://github.com/DezChuang"><u>Github</u></a> if you want to know more.</p></br>
          <p>嗨，我是Dez，目前正在自學網頁開發相關技術，目標是成為能促進使用者體驗的前端工程師，此部落格想藉著分享所學的技術，讓自己能夠真正地從入門到理解。</p>
        </div>

      <div class="ui segment">
          <h1 class="ui header">Contact me</h1>
          <li>E-mail: <a href="mailto:dissaivent@gmail.com"><u>dissaivent@gmail.com</u></a></li>
          <li>Github: <a href="http://github.com/DezChuang"><u>http://github.com/DezChuang</u></a></li>
          <li>Linkdin: <a href="http://www.linkedin.com/in/dezchuang/"><u>http://www.linkedin.com/in/dezchuang/</u></a></li>
      </div>
    </div>

<% include partials/footer %>