<% include partials/header %>

    <div class="row text-center" style="display: flex; flex-wrap: wrap;">
        <h1>User Profile</h1>
    </div>

    <div class="ui piled segment">
        <h1 class="ui header">To be done, now user just can comment on each post.</h1>

    </div>

<% include partials/footer %>