body {
    font-family: 'Noto Sans', sans-serif;
}

.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

#delete-form {
    display: inline;
}

.navbar-default {
    background-color: #FFF5EE; /*SEASHELL*/
}

.jumbotron{
    /* background: #FFF5EE; */ /*SEASHELL*/
    background: #FFF;
    text-align: center;
    position: relative;
}

.ui.items > .item {
    font-size: 18px;
}

.ui.buttons .button, .ui.buttons .or, .ui.button {
    font-size: 14px;
}

a {
    color: rgba(0, 0, 0, 0.87);
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
    transition-property: color;
    transition-duration: 0.3s;
    transition-timing-function: initial;
    transition-delay: initial;
}

.jumbotron p {
    font-size: 32px; /*Need RWD refactor*/
}

.ui.segments .segment, .ui.segment {
    font-size: 18px;
}

#postTitle {
    margin-left: 0;
}

#textarea.form-control {
    height: 20vh;
}

textarea.form-control {
    height: 20vh;
}

pre {
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    padding: 5px;
    border: 0;
    background-color: #fff;
}

i.icon, i.icons {
    font-size: 1.5em;
}
