body {
    font-family: 'Noto Sans', sans-serif;
}

.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

#delete-form {
    display: inline;
}

.navbar-default {
    background-color: #FFF5EE; /*SEASHELL*/
}

.jumbotron{
    /* background: #FFF5EE; */ /*SEASHELL*/
    background: #FFF;
    text-align: center;
    position: relative;
}

header.jumbotron {
    margin: 0 auto;
}

.ui.items > .item {
    font-size: 18px;
}

.ui.buttons .button, .ui.buttons .or, .ui.button {
    font-size: 14px;
}

a {
    color: rgba(0, 0, 0, 0.87);
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
    transition-property: color;
    transition-duration: 0.3s;
    transition-timing-function: initial;
    transition-delay: initial;
}

a#footer {
    color: #fff;
}

.jumbotron p {
    font-size: 32px; /*Need RWD refactor*/
}

.ui.segments .segment, .ui.segment {
    font-size: 18px;
}

#postTitle {
    margin-left: 0;
}

#textarea.form-control {
    height: 20vh;
}

textarea.form-control {
    height: 20vh;
}

i#contact-icon.icon {
    font-size: 1.5em;
}

i#footer-icon.icon {
    font-size: 2em;
}

i#header-icon.icon {
    font-size: 2em;
}

h1#about.ui.header {
    font-size: 2.5rem;
}

h3#footer.ui.inverted.center.header {
    margin: 0 auto;
    font-family: 'Noto Sans', sans-serif;
    font-weight: normal;
}

.ui.inverted.segment {
    background: #696969;
}

div#header.container {
    margin-bottom: 100px;
}

#navfix.fixed-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100% !important;
    z-index: 999;
    padding: 0;
    box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.75);
}
